# Configurações do Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID_PRO=
STRIPE_PRICE_ID_PREMIUM=

# Configurações do Firebase Admin (Cole o JSON do Service Account inteiro em uma linha)
FIREBASE_SERVICE_ACCOUNT_KEY=

