@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --variant-dark: .dark &;
}

@layer base {
  html, body, #root {
    @apply w-full overflow-x-hidden;
    margin: 0;
    padding: 0;
  }
}
